@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Shadows+Into+Light&family=Smooch&display=swap');

* {
    font-family: 'Domine', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
audio { 
    display:none;

}
body{
    background-color: #092756;
    background: #092756;
    background: -moz-radial-gradient(0% 100,ellipse cover,black 10%,white 40%)-moz-ar-gradient();
}*/
h1, h2, h3, h4, h5, h6, span {
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 1.5;
}

p {
    line-height: 1.5;
    font-size: 12px;
}

nav {
    height: 100px;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




li {
    list-style-type: none;
}

.nav-position {
    margin: 0 12px;
    color: rgb(16, 16, 50);
    text-decoration: none;
    font-weight: 500;
}

.primary-position {
    background-color: white;

}


.logo {
    font-size: 34px;
    left: 5px;
    color: rgb(16, 22, 70) ;
}


.menu {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 1500px;
    padding: 15px;
    height: 18px;
}

a {
    text-align: center;
    color: rgb(150, 0, 0);
    line-height: 30px;
}


ul {
    text-align: right;
}

li {
    display: inline-block;
}

li:first-child {
    float: left;
}

.information{
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-image:url('https://mertozfidan.github.io/images/hole1.png') ;
    height: 920px;
    width:auto;
    margin-left: 125px;
    margin-right: 95px;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    }
.preface{
    text-align: left;
    margin: auto;
    width: 650px;
    line-height: 1.6em;
}
.letsLook{
    background-color: #000;
    color: #000;
    width: 500px;
    height: 100px;
}
/*
.languages{
    background-color: black;
    background:#000 url('https://mertozfidan.github.io/images/languages.png');
    background-size:auto 100%;
    background-repeat: no-repeat;
    height: 1024px;
    width: auto;

}*/
/*
.image {
  padding: 0px;
  display: inline-block;
  vertical-align: middle;
  max-height: 150px;
  max-width: 150px;
  margin: 15px;
  position:relative;
}

.image img {
  width:100%;
  vertical-align:top;
}

.image:after {
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.image:hover:after {
  opacity:1;
}
*/
.profile{
    background-image: url(https://mertozfidan.github.io/images/lifeIsGoingOn.jpg);
    background-size:auto 100%;
    background-repeat: no-repeat;
    height: 900px;
    margin-left: 125px;
    margin-right: 95px;
    

}
.whoami{
    display: flex;
    justify-content: space-between;
    line-height: 1.6em;
}
.contact{
    background-image: url(https://mertozfidan.github.io/images/contact.jpg);
    background-size: auto 100%;
    height: 830px;
    background-repeat: no-repeat;
    line-height: 30px;
    position: relative;

}

.who{
    background-color: rgb(73, 75, 45);
    font-size: 50px;  
}
.what{
    background-color: rgb(73, 75, 45);
    font-size: 50px;  
}
.end-line{
    background-color: rgb(73, 75, 45);
    font-size: 50px;  
}
.my-form{
    padding: 20x;
    text-align: right;
    line-height: 2.5;
}
.my-form .form-group{
    padding-bottom: 15px;
}
.form-group{
    display: block;

}
.my-form input[type="text"],.my-form textarea{
    padding: 5px;
    width: 15%;
}
.my-form input[type="submit"]{
    background-color: black;
    background-image: url(https://mertozfidan.github.io/images/ring.png);
    background-size:auto 100%;
    height: 100px;
    background-repeat: no-repeat;
    color: white;
    border-radius: 50px;
    
}
.html{
    position: fixed;
    top: 670px;
    
}
html{
    scroll-behavior: smooth;
}
/*
audio::-webkit-media-controls-mute-button {
    display: none;
}
audio::-webkit-media-controls-current-time-display {
    display: none;
}
audio::-webkit-media-controls-time-remaining-display {
    display: none;
}
audio::-webkit-media-controls-timeline {
    display: none;
}
audio::-webkit-media-controls-panel {
    height: auto 100%;
}
*/
#btnScrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 0 10px black;
    color: black;
    outline: none;
    cursor: pointer;
    border: none;
}
#btnScrollToTop:active{
    background: rgb(220, 210, 210);
    pointer-events: auto;
    opacity: 1;
}

.contact_form{
    position: relative;
    background: grey;
    opacity: 0.3;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    margin-right: 0%;
}

.contact_form h1{
    opacity: 1;
    color: rgb(255, 255, 255);
    font-size: auto;
}

.contact_form input,form textarea{
    border: 0;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    background: rgb(255, 254, 254);
    font-size: 16px;

}
.contact_form button{
    background:wheat;
    color: white;
    font-size: 16px;
    border: 0;
    border-color:#000;
    outline: none;
    cursor: pointer;
    width: auto;

}

.contact_form:hover{
    opacity: 1;
    position: relative;
}

/*
.container{
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 100%;
    height: 135vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}*/
.sound{
    position:fixed ;
    bottom: 10px; 
    background-image: url(https://mertozfidan.github.io/images/play1.png);
}

.skills{
    background-image:url(https://mertozfidan.github.io/images/skills1.jpg);
    height: 750px;
    width: 1300px;
    background-repeat: no-repeat;
    margin-left: 125px;
    margin-right: 125px;
}

.program{
    width: 50px;
    height: 50px;
}
.experience{
    background-image: url(https://mertozfidan.github.io/images/experience.jpg);
    background-size: 100%;
    width: 1300px;
    height: 710px;
    margin-left: 125px;
    margin-right: 125px;
}
.work1{
    display: block;
    width: 255px;
    margin-top: 30%;
}

.projects{
    background-image: url(https://mertozfidan.github.io/images/projects1.jpg);
    background-size: 100%;
    width: 1300px;
    height: 900px;
    margin-left: 125px;
    margin-right: 125px;

}
.image1{
    padding-top: 280px;
}
.image2{
    padding-top: 280px;
    padding-left: 50px;
}
.image3{
    padding-top: 280px;
    padding-left: 60px;
}
.image4{
    padding-top: 280px;
    padding-left: 80px;
}
.image5{
    padding-top: 280px;
    padding-left: 90px;
}
.image6{
    padding-top: 280px;
    padding-left: 80px;
}
.skillline{
    background-color: rgb(73, 75, 45);
    font-size: 50px;  
}
.project{
    font-size: 50px
}
.endJourney
{
    background-image: url(https://mertozfidan.github.io/images/eye.gif);
    background-size: 100%;
    width: 1300px;
    height: 650px;
    margin-left: 125px;
    margin-right: 125px;
}
/* self writing in projects */
.animation3 {
    position: relative;
    text-align: center;
    font-size: 50px;
    color: wheat;
    font-family: "Lucida Console", Monaco, monospace;
    background-color:rgb(73, 75, 45);
}
  
  .animation3 > span {

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color:rgb(73, 75, 45);
    border-left: 2px solid transparent;
    animation: Fwrite 10s steps(43, start) infinite, cursor 0.5s step-end infinite;
      -webkit-animation: Fwrite 5s steps(43, start) infinite, cursor 0.5s step-end infinite;
  }
/* self writing in projects */
.animation3 > p:hover {
    animation-play-state: paused;
}
  
@keyframes Fwrite {
    40% {
      width: 75%;
    }
    70%, 100% {
      width: 25%;
    }
    
  }
  
@keyframes cursor {
    0% {
      border-left-color: transparent;
    }
    50% {
      border-left-color: rgb(0, 0, 0);
    }
    100% {
      border-left-color: transparent;
    }
  }
  
@-webkit-keyframes Fwrite {
    0% {
      width: 100%;
    }
    70%, 100% {
      width: 0;
    }
  }
  
@-webkit-keyframes cursor {
    0% {
      border-left-color: transparent;
    }
    50% {
      border-left-color: black;
    }
    100% {
      border-left-color: transparent;
    }
  }
/* self writing */

/*collapsible*/
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 15%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    width: 15%;
  }
  
  /*collapsible*/
footer{
    background: #f1f1f1;
    padding: 90px 0;
}
.footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 180px;
}
.social-media{
    margin: 20px 0;
}
.social-media a{
    color: #001a21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}
.social-media a:hover{
    color: #fc5c65;
}
.right-col h1{
    font-size: 26px;
}
.border{
    width: auto;
    height:auto;
    background: #fc5c65;
}
.newsletter-form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
}
.btn1{
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #fc5c65;;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left:20px ;
    cursor: pointer;
    transition: opacity .3s linear;
}
.btn:hover{
    opacity:.7;
}
@media screen and (max-width:700px){
    .btn1{
        margin: 0;
        width: 100%;
        margin-top: 20px;
    }
    
}
